<!DOCTYPE html>
<!----------------------------------------------------
 * Project:     Klinika_Local
 * Filename:    Edit.html
 * Encoding:    UTF-8
 * Created:     2016-06-28
 *
 * Author       Bartosz M. Lewiński <jabarti@wp.pl>
------------------------------------------------------>
<html>
  <head>
    <title>Edit</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="refresh" content="3600">
    
    <link rel="stylesheet" href="js_source/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <link href="CSS/myCSS.css" rel="stylesheet" type="text/css"/>
    
    <script src="js_source/angular.min.js"></script><!-- -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script><!-- -->
    <script src="js_source/jquery-3.0.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    
    <script src="aplikacja.js" type="text/javascript"></script> <!-- aplikacja angularJS -->
    <script src="kontroler.js" type="text/javascript"></script> <!-- glowny controller przypisany do aplikacji AngularJS -->
    <script src="kontrolerEdit.js" type="text/javascript"></script> <!-- glowny controller przypisany do aplikacji AngularJS -->
    <script src="kontrolerLogin.js" type="text/javascript"></script> <!-- glowny controller przypisany do aplikacji AngularJS -->
   
    <script type="text/javascript" src="Functions/functions.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
         
  </head>
  <body ng-app='Klinika'>
      <div  class="container" data-ng-controller="formCtrl" data-ng-init="init();">
          <div data-ng-hide="correctLogIn">
              <button class="btn btn-primary" onclick="window.location.href='index.html'">Logowanie</button>
          </div> 
          <div data-ng-show="correctLogIn" class="container" ng-controller='ControllerEdit'>
              <div ng-include="'View/Static/Menu.html'"></div>
              <div class="pull-right" data-ng-show="correctLogIn">{{LOGCru}}</div>
                
              <br>
              <div>TEXT: {{text}}</div>
              <br>
          <h1><u>Opisujesz panią (rodzic)<span style="color:blue;"> {{text.ID_Wpisu}} {{text.mama_lastname}} {{text.data_utworzenia}}</span> i dziecko <span style="color:blue;">{{imie_dziecka}}</span></u></h1>
           
          <div class="row">
               <div class="col-md-12">
                  <form class="form-horizontal" role="form" ng-submit="submitEdit()" >
                      <div ng-repeat="field in entity.fields">
                          <ng-form name="form">
                              
                            <!-- TEXT FIELDS -->
                            <div ng-if="field.type=='text'" class="form-group">
                              <label class="col-sm-2 control-label">{{field.label}}</label>
                              <div class="col-sm-6">
                                <input type="{{ field.type }}" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data"  class="form-control" required/>
                                 <!--<span ng-show="myForm.{{field.name}}.$dirty && myForm.{{field.name}}.$error.required">Required!</span>.-->
                                 <span  data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>
                              </div>
                            </div>
                            
                            <!-- TEXT FIELDS -->
                            <div ng-if="field.type=='number'" class="form-group">
                              <label class="col-sm-2 control-label">{{field.label}}</label>
                              <div class="col-sm-6">
                                <input type="{{ field.type }}" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data"  class="form-control" required/>
                                 <!--<span ng-show="myForm.{{field.name}}.$dirty && myForm.{{field.name}}.$error.required">Required!</span>.-->
                                 <span  data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>
                              </div>
                            </div>
                            
                            <!-- EMAIL FIELDS -->
                            <div ng-if="field.type=='email'" class="form-group">
                              <label class="col-sm-2 control-label">{{field.label}}</label>
                              <div class="col-sm-6">
                                <input type="{{ field.type }}" dynamic-name="field.name" data-ng-model="field.data" class="form-control" required/>
                                 <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>
                                 <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.email'}}">Not email!</span>
                              </div>
                            </div>

                            <!-- PASSWORD FIELDS -->
                            <div ng-if="field.type=='password'" class="form-group" >
                              <label class="col-sm-2 control-label">{{field.label}}</label>
                              <div class="col-sm-6">
                                <input type="{{ field.type }}" dynamic-name="field.name" data-ng-model="field.data" ng-minlength={{field.min}} ng-maxlength={{field.max}} class="form-control" required/>
                                 <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>
                                 <span data-ng-show=" {{'!form.'+field.name+'.required && (form.'+field.name+'.$error.minlength || form.'+field.name+'.$error.maxlength)' }}">Passwords must be between 8 and 20 characters.</span>
                                </div>
                            </div>

                            <!-- SELECT FIELDS -->
                            <div ng-if="field.type=='select'" class="form-group" >
                              <label class="col-sm-2 control-label">{{field.label}}</label>
                              <div class="col-sm-6">
                                <select data-ng-model="field.data" ng-options="option.name for option in field.options" class="form-control" required/>
                              </div>      
                            </div>

                            <!-- RADIO FIELDS -->
                            <div ng-if="field.type=='radio'" class="form-group">
                              <label class="col-sm-2 control-label">{{field.label}}</label>
                              <div class="col-sm-6">

                                <div class="checkbox" ng-repeat="option in field.options" >
                                  <label>                
                                    <input type="radio" data-ng-model="field.data"  name="taskGroup"  id="{{option.name}}" value="{{option.id}}">{{option.name}}
                                  </label>
                                 </div>
                              </div>
                            </div>

                            <!-- CHECKBOX FIELDS -->
                            <div ng-if="field.type=='checkbox'" class="form-group" >
                              <label class="col-sm-2 control-label">{{field.label}}</label>
                              <div class="col-sm-6">        
                                   <div class="checkbox" ng-repeat="option in field.options" >
                                      <label>
                                        <input type="checkbox" data-ng-model="option.data"  name="taskGroup"  id="{{option.name}}" value="{{option.id}}" >{{option.name}}
                                      </label>
                                    </div>

                              </div>
                            </div>
                          </ng-form>
                      </div>
                  </form>
               </div>
           </div>
          
              
              <!--form class="form-horizontal" role="form" ng-submit="">
                  <table class="table table-striped">
                    <tr ng-repeat="(key, val) in text">
                        <td>
                            <label for="{{key}}" class="col-sm-3 control-label">{{key}}</label>
                                <input type="text" id="{{key}}}" name="{{key}}" value="{{val}}">
                        </td>
                  </table>
                  <button type="button" ng-click="DeleteRecord(x.ID_Wpisu)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> </button>
              </form--->              
          </div>
      </div>
  </body>
</html>
