<!DOCTYPE html>
<!----------------------------------------------------
 * Project:     Klinika
 * Filename:    Formularz.html
 * Encoding:    UTF-8
 * Created:     2016-06-18
 *
 * Author       Bartosz M. Lewiński <jabarti@wp.pl>
------------------------------------------------------>
<html>
  <head>
    <title>Klinika Formularz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <link href="CSS/myCSS.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script><!-- -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="aplikacja.js" type="text/javascript"></script> <!-- aplikacja angularJS -->
    <script src="kontroler_1.js" type="text/javascript"></script> <!-- glowny controller przypisany do aplikacji AngularJS -->

    <script type="text/javascript" src="jquery.min.js"></script>
    <!--script type="text/javascript" src="jquery.maphilight.min.js"></script-->
    
    <script type="text/javascript" src="functions.js"></script>
     
  </head>

  <body>
      
      <div class="container" ng-app='Klinika' ng-controller='ControllerNumOne'>
        
          <header><h1 class="head">{{Title_Page_01}}</h1></header>
      
          <div ng-include="'View/Static/Menu.html'"></div>
          
          <h1><u>Opisujesz panią (rodzic)<span style="color:blue;"> {{mama_firstname}} {{mama_lastname}}</span> i dziecko <span style="color:blue;">{{imie_dziecka}}</span></u></h1>
          
          <div class="row">
               <div class="col-md-12">
                   <br>
                  <form class="form-horizontal" role="form" ng-submit="processForm()">
                      
           <!-- DANE FORMULARZA -->
                      <div class="form-group form-buffer-pa">
                        <h2>Dane Formularza </h2>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">ID Wpisu</label>
                            <div class="col-sm-3">
                            <input class="form-control" type="text" ng-model="ID_Wpisu">
                        </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Data utworzenia</label>
                            <div class="col-sm-3">
                                <input type="date" ng-model="data_utworzenia" placeholder="yyyy-MM-dd"   />
                            </div>    
                        </div>
                      </div>                      
                      
          <!-- MAMA -->
                      <div class="form-group form-buffer-npa">
                          <h2>Mama: </h2>
                          <div class="form-group">
                                
                                <label class="col-sm-3 control-label">Imię</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" value="podaj imię mamy" ng-model="mama_firstname">
                                    </div>

                                <label class="col-sm-3 control-label">Nazwisko</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" value="podaj nazwisko mamy" ng-model="mama_lastname">
                                    </div>
                          </div>
                      </div>
                      
                                
          <!-- SUBMIT -->
                        <button type="submit" class="btn btn-success btn-lg btn-block">
                            <span class="glyphicon glyphicon-flash"></span> Submit!
                        </button>
                      
                  </form>
               </div>
          </div>
          
          <pre>
                <span id="message"></span>
            </pre>
      <footer>Copyright by @Bartosz Lewiński</footer>
      </div>
  </body>
</html>
