<!DOCTYPE html>
          <!-- POWÓD ZGŁOSZENIA -->
                      <div class="form-group form-buffer-npa">
                          <h2>Powód zgłoszenia </h2>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Powód zgłoszenia</label>
                                   <div class="col-sm-7">
                                        <textarea class="form-control" type="text" placeholder="" ng-model="powod_zgloszenia"></textarea>
                                    </div>
                           </div>
                      </div>
          <!-- Karmienie w szpitalu -->
                      <div class="form-group form-buffer-pa">
                          <h2>Karmienie w szpitalu</h2>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Pierwsze karmienie, doba, godzina</label>
                                   <div class="col-sm-4">
                                        <textarea class="form-control" type="text" placeholder="pierwsze karmienie" ng-model="pierwsze_karmienie"></textarea>
                                    </div>
                            
                            <label class="col-sm-3 control-label">YYYY</label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="text" value="podaj nazwisko pacjentki" ng-model="">
                                </div>
                          </div>
                      </div>
