<!DOCTYPE html>
<!----------------------------------------------------
 * Project:     AAATRY
 * Filename:    index.html
 * Encoding:    UTF-8
 * Created:     2015-06-13
 *
 * Author       Bartosz M. Lewiński <jabarti@wp.pl>
------------------------------------------------------>
<html data-ng-app="Klinika">
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="refresh" content="360">

    <link rel="stylesheet" href="js_source/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <link href="CSS/myCSS.css" rel="stylesheet" type="text/css"/>
    
    <script src="js_source/angular.min.js"></script><!-- -->
    <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script><!-- -->
    <script src="js_source/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- -->

    
    <script src="aplikacja.js" type="text/javascript"></script> <!-- aplikacja angularJS -->
    <script src="kontroler.js" type="text/javascript"></script> <!-- glowny controller przypisany do aplikacji AngularJS -->
    <script src="kontrolerLogin.js" type="text/javascript"></script> <!-- glowny controller przypisany do aplikacji AngularJS -->

    <script src="Functions/functions.js" type="text/javascript"></script><!-- -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script><!-- -->
    <script src="js_source/bootstrap336.min.js"></script><!-- -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- -->

  </head> 
  <body>
      <div data-ng-controller="formCtrl" data-ng-init="init();"> 
          <div ng-controller='ControllerFormularz' data-ng-show="correctLogIn" ng-include="'View/Static/Menu.html'"></div>

	<div class="panel">
		<h3 class="panel-heading" ng-hide="correctLogIn">Login form</h3>
		<h3 class="panel-heading" ng-show="correctLogIn">{{LOGCru}}</h3>
		<form name="angularForm" class="panel-body" method="POST" novalidate action="//api.test/auth" data-ng-hide="correctLogIn" data-ng-submit="submitData($event)">
				<fieldset class="well">
					<div class="form-group">
						<label for="email">E-mail: </label>
						<input type="email" required name="email" id="email" class="form-control" data-ng-pattern="emailPattern" ng-model="user.email">
						<div class="error" ng-show="angularForm.email.$invalid && angularForm.email.$dirty">
							<span ng-show="angularForm.email.$error.pattern">Please enter a valid email address </span>
							<span ng-show="angularForm.email.$error.required">Please enter a value</span>
						</div>
					</div>
					<div class="form-group">
						<label for="password">Password: </label>
						<input type="password" required name="password" id="password" class="form-control" data-ng-minlength='6' data-ng-pattern="passPattern" data-ng-model="user.pass">
						<div class="error" ng-show="angularForm.password.$invalid && angularForm.password.$dirty">
							<span ng-show="angularForm.password.$error">Please enter a valid password (6 signs, at least one small or one capital letter and one nubmer)</span>
						</div>
					</div>
					<input type="submit" value="Login" class="btn btn-primary btn-block" data-ng-disabled="angularForm.$invalid">
				</fieldset>
		</form>
 
		<p class="bg-success login-info" data-ng-show="correctLogIn">Logowanie poprawne[{{correctLogIn}}]</p>
		<p class="bg-warning login-info" data-ng-show="incorrectLogIn">Niepoprawne login lub hasło</p>
		<p class="bg-danger login-info" data-ng-show="serverProblem">Błąd usługi</p>
	</div>
      </div>
      <footer>Copyright by @Bartosz Lewiński</footer>
    </body>
</html>
