<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<script src="Controllers/MenuController.js" type="text/javascript"></script>
<div class="row">
    <div class="col-md-12" style="background-color: #A1F200;">
        <nav>
            <div class="nav nav-pills">

                <button id='toNewForm' class="btn btn-primary">Nowy Formularz</button> 
                <button id='toLista' class="btn btn-primary" formtarget="_blank">Lista</button> 
                <!--button id='toEdit' class="btn btn-primary" formtarget="_blank">Edycja</button>  <!-- -->
                <button id="buttLogOut" class="btn btn-primary pull-right" onclick="logOut()">LOG OUT</button>  <!-- -->
                <button id="buttChangeCrud" class="btn btn-primary pull-right" formtarget="_blank">Dane Użytkownika</button>   <!-- -->
                <!--button class="btn btn-primary pull-right" onclick="window.location.href='/Svenska'">Do svenska</button> <!-- -->
            </div>
        </nav>
    </div>
</div>
