<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
           <div class="row">
              <div class="col-md-12" style="background-color: #A1F200;">
                    <nav>
                        <div class="nav nav-pills">  
                            
                            <button class="btn btn-primary" onclick="window.location.href='index.html'">{{menu_btn_01}}</button>   
                            <button class="btn btn-primary" onclick="window.location.href='Formularz.html'">{{menu_btn_02}}</button> 
                            <button class="btn btn-primary" onclick="window.open('Lista.html')" formtarget="_blank">{{menu_btn_04}}</button> 
                            <button class="btn btn-primary" onclick="window.open('Edit.html')" formtarget="_blank">{{menu_btn_05}}</button> 
                            
                            <!--button class="btn btn-primary" onclick="window.open('js_source/TRY_Map/AngularJS Logg Formularz/index.html')" formtarget="_blank">login</button> 
                            <!--button class="btn btn-primary" onclick="window.open('Edit.html')" formtarget="_blank">{{menu_btn_05}}</button> 
                            <!--button class="btn btn-primary" onclick="window.location.href='Formularz_try.html'">{{menu_btn_02_try}}</button> <!-- -->
                            <!--button class="btn btn-primary" onclick="window.location.href='ProcesAJAX.php'">ProcesAJAX</button> <!-- -->
                            <!--button class="btn btn-primary" onclick="window.open('QuerryAJAX.php')" >QuerryAJAX</button> <!-- -->
                            <!--button class="btn btn-primary" onclick="window.open('js_source/mapper/index.html')" >mapper</button> <!-- -->
                            <!--button class="btn btn-primary" onclick="window.open('js_source/jquery-canvas-area-draw-master/demo.html')" >demo2</button> <!-- -->
                            <!--a href="js_source/001/index.html">przykład1</a>
                  
                            <a href="js_source/angular-image-maps-rwd-AngularJS/demo/demo.html">przykład2</a>
                            <!-- -->
                            <button class="btn btn-primary pull-right" onclick="logOut()">LOG OUT</button>  
                            <button class="btn btn-primary pull-right" onclick="window.location.href='/Svenska'">{{menu_btn_03}}</button>
                        </div>
                    </nav>
              </div>
           </div>
