<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
           <div class="row">
              <div class="col-md-12" style="background-color: #A1F200;">
                    <nav>
                        <div class="nav nav-pills">  
                            
                            <button class="btn btn-primary" onclick="window.location.href='index.html'">{{menu_btn_01}}</button>   
                            <button class="btn btn-primary" onclick="window.location.href='Formularz.html'">{{menu_btn_02}}</button> 
                            <!--button class="btn btn-primary" onclick="window.location.href='Formularz_try.html'">{{menu_btn_02_try}}</button> <!-- -->
                            <button class="btn btn-primary" onclick="window.location.href='ProcesAJAX.php'">ProcesAJAX</button> <!-- -->
                            <button class="btn btn-primary" onclick="window.location.href='QuerryAJAX.php'">QuerryAJAX</button> <!-- -->
                            <button class="btn btn-primary" onclick="window.location.href='QuerryAJAX.php'">QuerryAJAX</button> <!-- -->
                            
                            
                            <button class="btn btn-primary pull-right" onclick="window.location.href='/Svenska'">{{menu_btn_03}}</button>
                        </div>
                    </nav>
              </div>
           </div>
