<!DOCTYPE html>
<html>
  <head>
  <body>
      <div class="container">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Imie i nazwisko</th>
                      <th>User</th>
                      <th>IP</th>
                      <!--th>LogTime</th><!-- -->
                      <th>LogTime</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><?php echo $_SESSION["user"]; ?></td>
                      <td><?php echo $_SESSION["logCrud"]['anvandersnamn']; ?></td>
                      <td><?php echo $_SESSION["logCrud"]['IP']; ?></td>
                      <!--td><?php echo $_SESSION["logCrud"]['logTime']; ?></td><!-- -->
                      <td><?php echo date("Y-m-d, H:m:s",$_SESSION["logCrud"]['logTime']); ?></td>
                  </tr>
              </tbody>
          </table>  
      </div>
  </body>
</html>
