<!DOCTYPE html>
<!----------------------------------------------------
 * Project:     AAATRY
 * Filename:    Template_.html
 * Encoding:    UTF-8
 * Created:     2015-06-20
 *
 * Author       Bartosz M. Lewiński <jabarti@wp.pl>
------------------------------------------------------>
<div class="form-group form-buffer-npa">
  <h2>XXXXXXXXXXXX </h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">XXXXXXXX</label>
        <div class="col-sm-3">
            <input class="form-control" type="text" value="XXXXXXXXX" ng-model="formData.XXXXXXX">
        </div>

    <label class="col-sm-3 control-label">YYYYYYYY</label>
        <div class="col-sm-3">
            <input class="form-control" type="text" value="YYYYYYYYY" ng-model="formData.YYYYYYYY">
        </div>
  </div>
</div>